@font-face {
    font-family: "Archivo";
    src: url("../font/Archivo/Archivo-VariableFont_wdth\,wght.ttf");
}

@font-face {
    font-family: "SHand";
    src: url("../font/SHand/S_Hand.ttf");
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    position: relative;
    font-family: "Archivo";
    font-family: "SHand", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #0f151d;
    color: #fcfcfc;
    font-size: 2rem;
    width: 100%;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, white, rgb(137, 137, 137), white);
    background-repeat: repeat-y;
    animation-name: desplazamiento;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate
}

@keyframes desplazamiento {
    from {
        background-position: 0 0;
        /* Posición inicial */
    }

    to {
        background-position: 0px 2000px;
        /* Posición final */
    }
}

.nav__layout {
    width: 100%;
    height: 80px;
    background-color: #16202c;
    border-bottom: solid 1px #2e3d51;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 7rem;
}

.screen__view {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100dvh;
    background-color: black;
    z-index: 200;
    padding: 2rem;
    pointer-events: none;
    opacity: 0;
    transition: all 400ms ease-in-out;
}

.view__close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    background-color: red;
    height: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.screen__view--active {
    pointer-events: all;
    opacity: 1;
}

.view__photo-container {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.view__photo {
    width: 100%;
    aspect-ratio: 16/9;
}

.gallery__layout {
    width: 100%;
    height: 100dvh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "img1 img2 img3"
        "img4 img4 img3"
        "img5 img6 img7";
    gap: 1.5rem;
    max-width: 1280px;
    padding: 2rem;
}



.photo__title1 {
    font-size: 5rem;
    font-family: "SHand", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 40;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #0f151d;
    text-shadow: 0px 0px 2px white,
        1px 1px 2px white,
        1px 1px 2px white,
        1px 1px 2px white,
        1px 1px 2px white;

}

.photo__title2 {
    font-size: 5rem;
    font-family: "SHand", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 40;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #0f151d;
}

.photo__title3 {
    font-size: 5rem;
    font-family: "SHand", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 40;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #0f151d;
}

.photo__title4 {
    font-size: 5rem;
    font-family: "SHand", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 99;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #0f151d;
}

.photo__title5 {
    font-size: 5rem;
    font-family: "SHand", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 40;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #0f151d;
}

.photo__title6 {
    font-size: 5rem;
    font-family: "SHand", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 40;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #0f151d;
}

.photo__title7 {
    font-size: 5rem;
    font-family: "SHand", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 40;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #0f151d;
}

.gallery {
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.5);
}

.gallery1 {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    grid-area: img1;
    padding: 0.5rem;
    padding-bottom: 5rem;
    background-color: #fcfcfc;

}



.gallery2 {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    grid-area: img2;
    padding: 0.5rem;
    padding-bottom: 5rem;
    background-color: #fcfcfc;
}


.gallery3 {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    grid-area: img3;
    padding: 0.5rem;
    padding-bottom: 5rem;
    background-color: #fcfcfc;
}

.gallery4 {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    grid-area: img4;
    padding: 0.5rem;
    padding-bottom: 5rem;
    background-color: #fcfcfc;
    padding: 0.5rem;
    padding-bottom: 5rem;
    background-color: #fcfcfc;

}

.gallery5 {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    grid-area: img5;
    padding: 0.5rem;
    padding-bottom: 5rem;
    background-color: #fcfcfc;
}

.gallery6 {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    grid-area: img6;
    padding: 0.5rem;
    padding-bottom: 5rem;
    background-color: #fcfcfc;
}

.gallery7 {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    grid-area: img7;
    padding: 0.5rem;
    padding-bottom: 5rem;
    background-color: #fcfcfc;
}

.gallery__photo {
    position: relative;
    width: 100%;
    height: 100%;
    transition: all 250ms ease-in-out;
    cursor: pointer;
    z-index: 99;
}

.gallery1::before {
    position: absolute;
    content: "";
    top: -4px;
    left: -10px;
    width: 50px;
    height: 50px;
    z-index: 199;
    background-image: url("../img/pushpin1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.gallery1::after {
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url("../img/gallery/pattern1.png");
    filter: opacity(0.2);
}

.gallery2::after {
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url("../img/gallery/pattern2.png");
    filter: opacity(0.2);
}

.gallery3::after {
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url("../img/gallery/pattern3.png");
    filter: opacity(0.2);
}

.gallery4::after {
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url("../img/gallery/pattern4.png");
    filter: opacity(0.2);
}

.gallery5::after {
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url("../img/gallery/pattern5.png");
    filter: opacity(0.2);
}

.gallery6::after {
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url("../img/gallery/pattern6.png");
    filter: opacity(0.2);
}

.gallery7::after {
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url("../img/gallery/pattern7.png");
    filter: opacity(0.2);
}

.gallery2::before {
    position: absolute;
    content: "";
    top: -4px;
    left: -10px;
    width: 50px;
    height: 50px;
    z-index: 199;
    background-image: url("../img/pushpin2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.gallery3::before {
    position: absolute;
    content: "";
    top: -4px;
    left: -10px;
    width: 50px;
    height: 50px;
    z-index: 199;
    background-image: url("../img/pushpin3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery4::before {
    position: absolute;
    content: "";
    top: -4px;
    left: -10px;
    width: 50px;
    height: 50px;
    z-index: 199;
    background-image: url("../img/pushpin4.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery5::before {
    position: absolute;
    content: "";
    top: -4px;
    left: -10px;
    width: 50px;
    height: 50px;
    z-index: 199;
    background-image: url("../img/pushpin5.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.gallery6::before {
    position: absolute;
    content: "";
    top: -4px;
    left: -10px;
    width: 50px;
    height: 50px;
    z-index: 199;
    background-image: url("../img/pushpin6.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.gallery7::before {
    position: absolute;
    content: "";
    top: -4px;
    left: -10px;
    width: 50px;
    height: 50px;
    z-index: 199;
    background-image: url("../img/pushpin7.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.gallery__photo:hover {
    /* transform: scale(1.05); */
}

.file__input {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.file__button {
    width: 100%;
    height: 50px;
    border: none;
    background-color: #2e3d51;
    color: #fcfcfc;
    font-size: 1.8rem;
}

@media (max-width: 500px) {}


@media (max-width: 768px) {

    .gallery__layout {

        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 2fr 1fr 1fr;
        grid-template-areas:
            "img1 img2"
            "img3 img3"
            "img4 img5"
            "img6 img7"
        ;
    }

}